@model GrandPaClub42.Models.GrandPa

@{
    ViewData["Title"] = "The Amazing GrandPas";
}

<div class="text-center">
    <h1 class="display-4">Welcome, ye old souls!</h1>
        <h2> @Model.DisplayName</h2>
</div>
